.divCara3D{
    transform-style: preserve-3d;
    height: 100px;
    width: 100px;
    perspective: 1500px;
    position: absolute;
    background: #0b3c5d;
    animation-name: caraAni;
    animation-duration: 1s;
    animation-direction: reverse;
}
@keyframes caraAni {
    
    to{
       transform: rotateZ(460deg);
    }
}
.Cara3Dpresionado{
    background: #1e74ad;
}
.Cara3DSeleccionado{
    border: 2px solid #d8b410;
}